@media screen and (max-width: 768px) {
    .wrapper{
        width: 100% !important;
        height: auto !important;
        transition: all 0.3s ease-in-out;
        font-size: 2vw;
        flex-wrap: wrap;
    }
    .user_sidebar{
        width: 100% !important;
        height: 12vh !important;
        flex-direction: row !important;
        align-items: center;
    }
    .user_sidebar button{
        width: 20vw !important;
        font-size: 1.5vw !important;
    }
    .right{
        width: 100% !important;
    }
    .left{
        width: 100% !important;
        height: auto !important;
        align-items: center;
    }
    .user_content{
        width: 100% !important;
        justify-content: center;
    }
    .user_sidebar{

    }
}
.wrapper{
    width: 50%;
    height: 120vh;
    background-color: white;
    margin: 0 auto;
    display: flex;
}
.user_sidebar{
    width: 10vw;
    height: auto;
    background-color: rgba(167, 167, 167, 0.459);

    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 1vh;
}
.user_sidebar li{
    padding: 1vw;
    transition: all ease-in 2s;
    height: auto;
}
.user_sidebar li:nth-child(3){
    display: flex;
    justify-content: center;
}
.user_sidebar li:hover{
    background-color: rgba(79, 92, 214, 0.5);
    color: white;
    filter: drop-shadow(1px);
    transform: rotateY(360deg);
}
.user_sidebar button{
    width: 100%;
    height: 4vh;
    border: none;
    background-color: rgba(0, 0, 255, 0.39);
    border-radius: 2px;
    cursor: pointer;
    color: white;
    transition: all ease 0.5s;
}
.user_sidebar button:hover{
    background-color: black;

}
.user_content{
    display: flex;
}
.right{
    width: 80%;
    padding: 2vw;
}
.left{
    width: auto;
}