*{
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.App-body{
    background-image: url('../public/svgMenu/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    height: auto;
}
@media only screen and (max-width: 768px) {
    .App-body{
      width: 100%;
    }
}
